a{
    margin-right: 0.5rem;
}
img{
    height: 3.5rem;
    width: auto;  
    border-radius: 0.5rem;   
}
#bg-pd-img{
    padding: 0px 0.5rem; 
    background-color:white
}
#lang-stats-card{
    height: auto;
}
.grid-container{
    display: grid;
}
